
<!DOCTYPE html>
<html language="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" ,
          crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/custom.css">
    <title> Верхняя строчка | Должность </title>
</head>
<body class="darker-bg">
<!-- Секция промо с темным фоном - шапка сайта -->
<section class="promo darker-bg pt-2 pb-5">
    <div class="container">
        <!-- Навигационная панель с логотипом и кнопкой -->
        <nav class="navbar navbar-expand-lg mb-5 navbar-dark">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <!-- Логотип -->
                <a href="#" class="navbar-brand logo d-flex align-items-center text-decoration-none">
                    <div class="logo-left pe-2">
                        <img src="../static/kesha.png" alt="" class="rounded-circle"
                             width="70">
                        <img src="../static/01_Logo_HSE_full_rus_PANTONE_for_dark_2.png" alt="" class="rounded-circle"
                             width="70">
                    </div>
                    <div class="logo-right" style="margin-left: 6px;">
                        <div class="logo-title link-purple text-white">
                            Resume
                        </div>
                        <div class="logo-subtitle text-yellow text-white">
                            Student
                        </div>
                    </div>
                </a>

                <!-- Кнопка для скрытия/показа меню -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Меню навигации -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav d-flex flex-wrap justify-content-between align-items-center">
                        <!-- Ссылки навигации -->
                        <li class="nav-item me-3">
                            <a href="#story"
                               class="nav-link link-purple link-border-bottom text-white">
                                About me
                            </a>
                        </li>
                        <li class="nav-item me-3">
                            <a href="#projects"
                               class="nav-link link-purple link-border-bottom text-white">
                                My work experience
                            </a>
                        </li>
                        <li class="nav-item me-3">
                            <a href="#contact"
                               class="nav-link link-purple link-border-bottom text-white">
                                Collaboration
                            </a>
                        </li>
                        <li class="nav-item me-3">
                            <a href="https://github.com"
                               class="nav-link link-purple link-border-bottom text-white">
                                Github
                            </a>
                        </li>
                        <li class="nav-item me-3">
                            <a href="#contact"
                               class="nav-link link-purple link-border-bottom text-white">
                                Contact Me
                            </a>
                        </li>
                        <!-- Кнопки для смены темы и языка -->
                        <li class="nav-item me-3">
                            <form method="post" action="/">
                                <input type="submit" value=Theme name="mode"
                                class="btn text-center btn-yellow"/>
                            </form>
                        </li>
                        <li class="nav-item me-3">
                            <form method="post" action="/">
                                <input type="submit" value=Language name="lang"
                                class="btn text-center btn-yellow"/>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Блок приветствия с основной информацией -->
        <div class="row py-0 py-sm-5">
            <div class="col-12 col-lg-8 offset-lg-2 mb-0 mb-sm-5 py-5">
                <h1 class="h1 font-weight-bold font greeting-text text-blue text-white">
                    Hi! This is my resume.</h1>
                <p class="promo-text pb-3 text-white">
                    I am a student from Higher
                    School of Economics,
                    FCS, AMI, striving for continuous self-improvement and skill development. I dream of attending all
                    lectures to
                    not only absorb the material but also actively participate in discussions. In my free time, I enjoy
                    exploring new technologies, programming, and solving problems that help me grow as a professional. </p>
                <a href="#contact" class="btn text-center btn-yellow">Contact
                    me</a>
            </div>
        </div>
    </div>
</section>
<!-- Секция "Обо мне" -->
<section class="story container py-5 text-center" id="story">
    <h2 class="h1 font-weight-bold mt-4 mb-3 mb-sm-5 pb-3 navigo-font text-white">About me</h2>
    <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 px-2 pb-5">
            <p class="font-weight-bold pb-4 text-white">I&#39;m just an ordinary 18 year old, student. I
                spend most of my time studying. However i also enjoy playing the guitar and listening to jazz. I am not
                the type of person who brags about myself, therefore i write very shortly.
        </div>
    </div>
</section>
<!-- Секция опыта работы с темным фоном -->
<section class="projects darker-bg pt-3 pt-sm-5 pb-3" id="projects">
    <div class="container">
        <h2 class="h1 font-weight-bold text-center mt-4 mt-sm-5 mb-0 mb-sm-4 pb-5 navigo-font text-white">
            My work experience</h2>

        <div class="work-experience text-white">
            <div class="d-flex align-items-center mb-4">
                <img src="../static/01_Logo_HSE_full_rus_PANTONE_for_dark_2.png" alt="HSE Logo" class="me-3"
                     style="height: 60px; margin-top: -6px;">
                <div class="d-flex flex-column justify-content-center">
                    <h3 class="h4 mb-1 text-white">HSE University</h3>
                    <p class="text-white-40 mb-0 text-white">September 2023 - Present time</p>
                </div>
            </div>

            <div class="position mb-4" style="margin-left: 20px;">
                <h4 class="h5 text-purple text-white">Student</h4>
                <p class="text-white text-white" style="opacity: 0.4">September 2023 - Present time</p>
                <p class="text-white">Currently studying maths and programming in HSE AMI</p>
            </div>
        </div>
        <section class="goals container pt-3 pt-sm-5 pb-3">
            <h2 class="h2 font-weight-bold my-4 text-white">My projects</h2>
            <div class="row">
                <div class="col-12 col-sm-8 pb-1">
                    <p class="pb-2 text-white">Console application Image Processor made in C++ <br>
                        Android App Kalimba made in
                        Kotlin.<br> [in
                        progress] Identifying chords via audio samples </p>
                </div>
            </div>
        </section>
</section>
<!-- Секция личных целей -->
<section class="goals container pt-3 pt-sm-5 pb-3">
    <h2 class="h2 font-weight-bold my-4 text-white">My goals</h2>
    <div class="row">
        <div class="col-12 col-sm-8 pb-1">
            <p class="pb-2 text-white">To build a strong foundation of
                knowledge in IT to become a sought-after professional.<br>
                To
                balance my studies with hobbies and quality time with family.<br>
                To read philosophical works like &#39;Sein und Zeit&#39; by Martin Heidegger to
                broaden my intellectual horizons. </p>
        </div>
    </div>
</section>
<!-- Навыки -->
<section class="goals container pt-3 pt-sm-5 pb-3">
    <h2 class="h2 font-weight-bold my-4 text-white">Skills</h2>
    <div class="row">
        <div class="col-12 col-sm-8 pb-1">
            <p class="pb-2 text-white">Programming in Python, C, C++, x86 ASM. <br> Integral solving skill <br> English language level - C2 <br> Can use USCS Genome Browser. </p>
        </div>
    </div>
</section>

<!-- Секция сотрудничества -->
<section class="goals container mb-5 pb-sm-5 pb-0" id="contact">
    <h2 class="h2 font-weight-bold my-4 text-white">Collaboration</h2>
    <div class="row">
        <div class="col-12 col-sm-8 pb-1">
            <p class="pb-1 mb-1 text-white">If interested in what can I do for you:</p>
            <!-- Блок с кнопками для связи -->
            <div class="row">
                <div class="col-12 col-sm-9">
                    <p class="d-flex justify-content-start gap-2 flex-wrap">
                        <a href="https://t.me/nicknicht" class="btn mb-3 btn-yellow"
                           target="_blank">DM in Telegram</a>
                        <a href="https://nickolays1.github.io/" class="btn mb-3 btn-yellow"
                           target="_blank">Check out the resume</a>
                        <a href="mailto:crabsburger@gmail.com" class="btn mb-3 btn-yellow"
                           target="_blank">Email me</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Подвал сайта с темным фоном -->
<footer class="footer darker-bg">
    <nav class="container navbar ">
        <ul class="nav m-auto py-2">
            <li class="nav-item mx-3 text-white">
                Made with love in 2024.
            </li>
        </ul>
    </nav>
</footer>

<!-- Подключение скриптов Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>